# Builds / Caches
.next/
out/
dist/
coverage/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.DS_Store

# Dependencies
node_modules/

# Env & Secrets
.env
.env.local
.env.production
.env.development

# Prisma
prisma/dev.db
prisma/*.db-journal

# Misc
*.zip
*.tar
*.tar.gz
*.tgz
